openapi: 3.1.0
info:
  title: Tabs Platform BillingTerms Categories API
  description: 'REST API for the Tabs revenue automation platform: customers, contracts, items, revenue categories, obligations, billing terms, invoices, payments, credit memos, usage events, and reports. Source: https://docs.tabsplatform.com/llms.txt'
  version: '3'
  contact:
    name: Tabs
    url: https://docs.tabsplatform.com/
servers:
- url: https://api.tabsplatform.com
  description: Production (assumed; consult Tabs docs for exact base URL)
security:
- ApiKeyAuth: []
tags:
- name: Categories
paths:
  /categories:
    get:
      tags:
      - Categories
      summary: List categories
      operationId: listCategories
      responses:
        '200':
          description: OK
    post:
      tags:
      - Categories
      summary: Create category
      operationId: createCategory
      responses:
        '201':
          description: Created
  /categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Categories
      summary: Get category by ID
      operationId: getCategory
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Categories
      summary: Delete category
      operationId: deleteCategory
      responses:
        '204':
          description: Deleted
  /classes:
    get:
      tags:
      - Categories
      summary: List classes
      operationId: listClasses
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Server-side API key issued from the Tabs dashboard for backend integrations.
