openapi: 3.1.0
info:
  title: Tabs Platform BillingTerms Obligations API
  description: 'REST API for the Tabs revenue automation platform: customers, contracts, items, revenue categories, obligations, billing terms, invoices, payments, credit memos, usage events, and reports. Source: https://docs.tabsplatform.com/llms.txt'
  version: '3'
  contact:
    name: Tabs
    url: https://docs.tabsplatform.com/
servers:
- url: https://api.tabsplatform.com
  description: Production (assumed; consult Tabs docs for exact base URL)
security:
- ApiKeyAuth: []
tags:
- name: Obligations
paths:
  /contracts/{id}/obligations:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Obligations
      summary: Create contract obligation
      operationId: createContractObligation
      responses:
        '201':
          description: Created
  /contracts/{id}/obligations/{obligationId}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    - name: obligationId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Obligations
      summary: Get obligation by ID
      operationId: getContractObligation
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Obligations
      summary: Update obligation
      operationId: updateContractObligation
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Obligations
      summary: Delete obligation
      operationId: deleteContractObligation
      responses:
        '204':
          description: Deleted
  /obligations:
    get:
      tags:
      - Obligations
      summary: List obligations
      operationId: listObligations
      responses:
        '200':
          description: OK
  /obligations/custom-revenue:
    post:
      tags:
      - Obligations
      summary: Upsert custom revenue
      operationId: upsertCustomRevenue
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Server-side API key issued from the Tabs dashboard for backend integrations.
