openapi: 3.1.0
info:
  title: Tabs Platform BillingTerms Contracts API
  description: 'REST API for the Tabs revenue automation platform: customers, contracts, items, revenue categories, obligations, billing terms, invoices, payments, credit memos, usage events, and reports. Source: https://docs.tabsplatform.com/llms.txt'
  version: '3'
  contact:
    name: Tabs
    url: https://docs.tabsplatform.com/
servers:
- url: https://api.tabsplatform.com
  description: Production (assumed; consult Tabs docs for exact base URL)
security:
- ApiKeyAuth: []
tags:
- name: Contracts
paths:
  /contracts:
    get:
      tags:
      - Contracts
      summary: List contracts
      operationId: listContracts
      responses:
        '200':
          description: OK
    post:
      tags:
      - Contracts
      summary: Create contract
      operationId: createContract
      responses:
        '201':
          description: Created
  /contracts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Contracts
      summary: Get contract by ID
      operationId: getContract
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Contracts
      summary: Update contract
      operationId: updateContract
      responses:
        '200':
          description: OK
  /contracts/{id}/actions:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Contracts
      summary: Perform contract action
      operationId: contractAction
      responses:
        '200':
          description: OK
  /contracts/{id}/file:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Contracts
      summary: Download contract file
      operationId: downloadContractFile
      responses:
        '200':
          description: OK
    post:
      tags:
      - Contracts
      summary: Upload contract file
      operationId: uploadContractFile
      responses:
        '201':
          description: Created
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Server-side API key issued from the Tabs dashboard for backend integrations.
