openapi: 3.1.0
info:
  title: Tabs Platform BillingTerms Events API
  description: 'REST API for the Tabs revenue automation platform: customers, contracts, items, revenue categories, obligations, billing terms, invoices, payments, credit memos, usage events, and reports. Source: https://docs.tabsplatform.com/llms.txt'
  version: '3'
  contact:
    name: Tabs
    url: https://docs.tabsplatform.com/
servers:
- url: https://api.tabsplatform.com
  description: Production (assumed; consult Tabs docs for exact base URL)
security:
- ApiKeyAuth: []
tags:
- name: Events
paths:
  /events:
    get:
      tags:
      - Events
      summary: List events (legacy)
      operationId: listEvents
      responses:
        '200':
          description: OK
    post:
      tags:
      - Events
      summary: Create event (legacy)
      operationId: createEvent
      responses:
        '201':
          description: Created
  /events/bulk:
    post:
      tags:
      - Events
      summary: Bulk create events
      operationId: bulkCreateEvents
      responses:
        '201':
          description: Created
  /events/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      tags:
      - Events
      summary: Delete event
      operationId: deleteEvent
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Server-side API key issued from the Tabs dashboard for backend integrations.
