openapi: 3.1.0
info:
  title: Tabs Platform BillingTerms PerformanceObligations API
  description: 'REST API for the Tabs revenue automation platform: customers, contracts, items, revenue categories, obligations, billing terms, invoices, payments, credit memos, usage events, and reports. Source: https://docs.tabsplatform.com/llms.txt'
  version: '3'
  contact:
    name: Tabs
    url: https://docs.tabsplatform.com/
servers:
- url: https://api.tabsplatform.com
  description: Production (assumed; consult Tabs docs for exact base URL)
security:
- ApiKeyAuth: []
tags:
- name: PerformanceObligations
paths:
  /contracts/{id}/performance-obligations:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - PerformanceObligations
      summary: List performance obligations
      operationId: listContractPerformanceObligations
      responses:
        '200':
          description: OK
  /contracts/{id}/performance-obligations/batch:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - PerformanceObligations
      summary: Bulk save performance obligations
      operationId: bulkSavePerformanceObligations
      responses:
        '200':
          description: OK
  /performance-obligations:
    get:
      tags:
      - PerformanceObligations
      summary: List performance obligations
      operationId: listPerformanceObligations
      responses:
        '200':
          description: OK
  /performance-obligations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - PerformanceObligations
      summary: Update performance obligation
      operationId: updatePerformanceObligation
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Server-side API key issued from the Tabs dashboard for backend integrations.
